* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    text-decoration: none;
}

.title_style {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 0;
}

.title {
    font-size: 2.3rem;
    font-weight: normal;
}

.share_style {

}

.share {
    font-size: 1.3rem;
}

.learn {
    font-size: 1.3rem;
}

.car-image {
    display: flex;
    top: 10px;
    width: 320px;
    height: 140px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.description-style {
    display: flex;
    justify-content: start;
    align-items: start;
}

.description {
    font-size: 1.35rem;
    color: gray;
}