* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.title-style {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 0;
}

.title {
    font-size: 2.3rem;
    font-weight: normal;
}

.share {
    font-size: 1.3rem;
}

.learn {
    font-size: 1.3rem;
}

.car-image {
    display: flex;
    top: 10px;
    width: 320px;
    height: 140px;
    border-radius: 3px 3px 0 0;
}

.description-style {
    display: flex;
    justify-content: start;
    align-items: start;
}

.description {
    font-size: 1.35rem;
    color: gray;
}

.learn-share {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.bottom-section {
    padding: 10px;
    font-family: arial, sans-serif;
    line-height: 20px;
}